//start blog details
.blog-details {
  //start blog-hero

  .blog-hero {
    background: #f3f2ee;
    padding-top: 125px;
    padding-bottom: 190px;
    h2 {
      color: $black;
      font-size: 36px;
      font-weight: 700;
      margin-bottom: 18px;
    }
    p {
      font-size: 15px;
      color: #3d3d3d;
      margin-right: 40px;
      position: relative;
    }
    .p {
      &::after {
        content: "";
        position: absolute;
        height: 20px;
        width: 1px;
        right: -15px;
        background-color: #727272;
      }
    }
  }
  .blog-content {
    .image {
      margin-top: -80px;
    }
  }

  //end blog-hero
}

//end blog details
