// start blog
.blog {
  margin-bottom: 60px;
  .breadcrumb-blog {
    background-image: url("../imgs/blog/breadcrumb-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 350px;
    h2 {
      color: #ffffff;
      font-size: 60px;
      font-weight: 700;
    }
  }
  .blog-content {
    .blog-item {
      .blog-img {
        height: 260px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        max-width: 100%;
      }
      .blog-text {
        background-color: $white;
        margin: 0 30px;
        padding: 15px 30px;
        margin-top: -21px;
        &:hover {
          box-shadow: 0px 15px 60px #4345460d;
        }
        span {
          color: #3d3d3d;
          font-size: 13px;
          svg {
            margin-right: 8px;
          }
        }
        p {
          color: $black;
          font-weight: 700;
          line-height: 28px;
          margin: 10px 0;
          font-size: 18px;
        }

        a {
          color: #111111;
          font-size: 13px;
          font-weight: 700;
          letter-spacing: 4px;
          padding: 3px 0;
          position: relative;
          &::after {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2px;
            background: #111111;
            content: "";
            transition: 0.3s;
          }
        }
        &:hover {
          a::after {
            width: 40px;
            background: #e53637;
          }
        }
      }
      .img1 {
        background-image: url("../imgs/blog/blog-1.jpg");
      }
      .img2 {
        background-image: url("../imgs/blog/blog-2.jpg");
      }
      .img3 {
        background-image: url("../imgs/blog/blog-3.jpg");
      }
      .img4 {
        background-image: url("../imgs/blog/blog-4.jpg");
      }
      .img5 {
        background-image: url("../imgs/blog/blog-5.jpg");
      }
      .img6 {
        background-image: url("../imgs/blog/blog-6.jpg");
      }
      .img7 {
        background-image: url("../imgs/blog/blog-7.jpg");
      }
      .img8 {
        background-image: url("../imgs/blog/blog-8.jpg");
      }
      .img9 {
        background-image: url("../imgs/blog/blog-9.jpg");
      }
    }
  }
}
// end blog
