// start contacts
.contacts {
  margin-bottom: 100px;
  .map {
    margin-bottom: 62px;
    iframe {
      height: 500px;
    }
  }
  .contact-info {
    h6 {
      color: $main-color;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 2px;
      margin-bottom: 15px;
    }
    h1 {
      font-size: 48px;
      margin-bottom: 18px;
      color: $black;
      font-weight: 700;
      line-height: 46px;
    }
    p {
      font-size: 15px;
      font-weight: 400;
      color: #707070;
    }
    ul {
      li {
        h5 {
          color: $black;
          font-weight: 700;
          margin-bottom: 8px;
          font-size: 24px;
        }
        p {
          line-height: 26px;
        }
      }
    }
    input {
      height: 50px;
      width: 100%;
      padding-left: 20px;
      font-size: 15px;
      color: #b7b7b7;
      margin-bottom: 30px;
    }
    textarea {
      border: 1px solid #e1e1e1;
      width: 100%;
      resize: none;
      height: 170px;
      padding-left: 20px;
      padding-top: 12px;
      font-size: 15px;
      color: #b7b7b7;
    }
    .btn {
      margin-top: 20px;
      letter-spacing: 4px;
      padding: 14px 35px;
      font-size: 14px;
      color: $white;
      background: $black;
      font-weight: 700;
    }
  }
}
// end contacts
