.header {
  .top-header {
    background-color: #111111;
    .language {
      .dropdown {
        button {
          display: flex;
          align-items: center;
          font-size: 14px;
          color: $white;
          svg {
            font-size: 14px;
          }
        }
        ul {
          min-width: 8rem !important;
          transform: translate(-36px, 26px) !important;

          a {
            font-size: 14px;
            font-weight: 600;
            color: $black;
            border-radius: 6px;
            &:hover {
              background-color: $main-color;
              color: $white;
              transition: 0.4s;
            }
          }
        }
      }
    }
    .link {
      a {
        color: $white;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        transition: 0.3s;
        &:hover {
          color: #3577f0;
        }
      }
    }
  }
  .header-navbar {
    width: 100%;
    background-color: $white;
    border-radius: 10px;
    .logo {
      @include mdwidth {
        width: 147px;
      }
    }
    .links {
      .nav-item {
        position: relative;
        margin: 0 15px;
        a {
          font-size: 18px;
          color: #111111;
          padding: 3px 0;
        }
        &::after {
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 2px;
          background: $main-color;
          content: "";
          transition: all, 0.5s ease;
          transform: scale(0, 1);
        }
        &:hover {
          &::after {
            transform: scale(1, 1);
            transition: transform 0.3s ea;
          }
        }
      }
      .dropdown-menu {
        transform: translate(-39px, 37px) !important;
        li {
          a {
            &:hover {
              background-color: $white !important;
              color: $main-color;
            }
          }
        }
      }
      .active {
        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 2px;
          background: $main-color;
          transform: scale(1, 1);
        }
      }
    }
    .action {
      .mobile-toggle {
        svg {
          color: #111111;
        }
      }
      li {
        position: relative;
        margin: 0 15px;
        z-index: 1;
        a {
          font-size: 22px;
          color: #777777;
          font-weight: 100;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: 0.3s;
          &:hover {
            color: #111111;
          }
          // &::after {
          //   content: "";
          //   position: absolute;
          //   left: -8px;
          //   bottom: -10px;
          //   width: 45px;
          //   height: 45px;
          //   border-radius: 50%;
          //   background-color: #e53637;
          //   z-index: -1;
          //   transition: all, 0.5s ease;
          //   transform: scale(0);
          // }
          // &:hover {
          //   color: $white;
          //   @include smwidth {
          //     color: #777777;
          //   }
          //   &::after {
          //     transform: scale(1);
          //     transition: transform 0.3s ea;
          //     @include smwidth {
          //       transform: scale(0);
          //     }
          //   }
          // }
        }
        .cart {
          &::before {
            content: attr(data-count);
            color: white;
            position: absolute;
            left: 16px;
            font-size: 13px;
            font-weight: 600;
            text-align: center;
            top: -12px;
            width: 20px;
            height: 20px;
            background: $main-color;
            border-radius: 50%;
            opacity: 0;
          }
        }
        .cart.zero::before {
          opacity: 1;
        }
      }
    }
  }
  .offcanvas {
    width: calc(100% - 50%);
    @include smwidth {
      width: calc(100% - 30%);
    }
    .offcanvas-body {
      .link {
        ul {
          a {
            font-size: 13px;
            letter-spacing: 2px;
            font-weight: 600;
            color: $black;
            text-transform: uppercase;
          }
        }
      }
      .links {
        a {
          font-size: 14px;
          font-weight: 600;
        }
      }
    }
  }
}
