//start image slider

.slide {
  .icon {
    font-size: 25px;
    color: $black;
  }
  .caption {
    padding: 15% 0;
    h6 {
      color: $main-color;
      font-size: 25px;
    }
    h1 {
      color: $black;
      font-weight: 600;
      font-size: 40px;
      margin: 15px 0;
    }
    p {
      color: $black;
      font-size: 16px;
      line-height: 1.6;
      margin-bottom: 20px;
    }
    .btn {
      background-color: $black;
      color: $white;
      font-size: 16px;
      width: 150px;
      padding: 10px;
      svg {
        padding-left: 11px;
      }
    }
  }
}

//end image slider
