//start breadcrumb

.breadcrumb-shop {
  background: #f3f2ee;
  padding: 30px 0;
  margin-bottom: 100px;
  h5 {
    font-size: 24px;
    color: $black;
    font-weight: 700;
    margin-bottom: 17px;
  }
  a {
    font-size: 15px;
    color: $black;
  }
  span {
    font-size: 15px;
    color: #b7b7b7;
  }
}

//end breadcrumb
// strat side-bar
.side-bar {
  // padding-right: 20px;
  .search {
    border: 1px solid #e5e5e5;
    input {
      padding-left: 20px;
      height: 40px;
      font-size: 15px;
      color: #b7b7b7;
    }
    svg {
      color: #b7b7b7;
      padding: 0 20px;
    }
  }
  .menu {
    .accordion-header {
      a {
        color: $black;
        font-size: 16px;
        font-weight: 700;
      }
    }
    .categores {
      height: 230px;
      overflow-y: auto;
      transition: all 0.3s;
      &::-webkit-scrollbar {
        display: none;
        width: 5px;
        border-radius: 10px;
      }
      &::-webkit-scrollbar-track {
        background-color: #e5e5e5;
      }
      &::-webkit-scrollbar-thumb {
        background-color: $black;
      }
      &:hover {
        &::-webkit-scrollbar {
          display: block;
        }
      }
    }
    ul {
      li {
        a {
          font-size: 15px;
          color: #b7b7b7;
          line-height: 32px;
          transition: all 0.4s;
          &:hover {
            color: $black;
          }
        }
      }
    }
    .sidebar-size {
      .size {
        color: $black;
        font-size: 15px;
        font-weight: 700;
        border: 1px solid #e5e5e5;
        padding: 6px 25px;
        margin-bottom: 15px;
        margin-right: 7px;
        cursor: pointer;
      }
      .active {
        background: $black;
        color: $white;
        border-color: $black;
      }
    }
    .sidebar-color {
      .color {
        height: 30px;
        width: 30px;
        // padding: 13px;
        position: relative;
        margin-right: 15px;
        display: inline-block;
        margin-bottom: 10px;
        outline: 1px solid #cecece;
        border: 3px solid #e5e5e5;
        border-radius: 50%;
        cursor: pointer;
      }
      .c-1 {
        background-color: $black;
      }
      .c-2 {
        background-color: #20315f;
      }
      .c-3 {
        background-color: #f1af4d;
      }
      .c-4 {
        background-color: #636068;
      }
      .c-5 {
        background-color: #57594d;
      }
      .c-6 {
        background-color: #e8bac4;
      }
      .c-7 {
        background-color: #d6c1d7;
      }
      .c-8 {
        background-color: #ed1c24;
      }
      .c-9 {
        background-color: #ffffff;
      }
    }
    .sidebar-tags {
      .tags {
        color: #404040;
        font-size: 13px;
        font-weight: 700;
        background: #f1f5f8;
        padding: 5px 18px;
        margin-right: 6px;
        margin-bottom: 10px;
        transition: all, 0.3s;
        cursor: pointer;
        &:hover {
          background: #111111;
          color: #ffffff;
        }
      }
    }
  }
}

// end side-bar
