@mixin smwidth {
  @media (max-width: 576px) {
    @content;
  }
}
@mixin mdwidth {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin lgwidth {
  @media (max-width: 992px) {
    @content;
  }
}
@mixin xlgwidth {
  @media (min-width: 992px) {
    @content;
  }
}
