<!-- start about us-->

<div class="about">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <img src="./imgs/about/about-us.jpg" alt="about" class="w-100" />
      </div>
      <div
        class="about-item d-flex text-lg-start text-center flex-wrap mt-5 mb-5"
      >
        <div class="col-lg-4 col-md-6 col-12 ps-1 pe-1 p-2">
          <h4>Who We Are ?</h4>
          <p>
            Contextual advertising programs sometimes have strict policies that
            need to be adhered too. Let’s take Google as an example.
          </p>
        </div>
        <div class="col-lg-4 col-md-6 col-12 ps-1 pe-1 p-2">
          <h4>Who We Do ?</h4>
          <p>
            In this digital generation where information can be easily obtained
            within seconds, business cards still have retained their importance.
          </p>
        </div>
        <div class="col-lg-4 col-md-6 col-12 ps-1 pe-1 p-2">
          <h4>Why Choose Us</h4>
          <p>
            A two or three storey house is the ideal way to maximise the piece
            of earth on which our home sits, but for older or infirm people.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- end about us -->

<!-- start testimonial -->

<div class="testimonial mb-5">
  <div class="container-fluid p-0">
    <div class="testimonial__pic">
      <div
        class="testimonial__text h-100 d-flex justify-content-center flex-column align-items-center"
      >
        <span>
          <i class="fa-solid fa-quote-right"></i>
        </span>
        <p class="text-center">
          “Going out after work? Take your butane curling <br />
          iron with you to the office, heat it up, style your hair <br />
          before you leave the office and you won’t have to <br />
          make a trip back home.”
        </p>
        <div class="testimonial_author d-flex align-items-center">
          <div class="testimonial_author_pic">
            <img
              src="./imgs/about/testimonial-author.jpg"
              alt="author"
              class=""
            />
          </div>
          <div class="testimonial_author_text ms-2">
            <h5>Augusta Schultz</h5>
            <p>Fashion Design</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- end testimonial -->

<!-- start counter -->

<div class="section_counter mb-5 pt-5">
  <div class="container border-bottom pb-5">
    <div class="row pb-5">
      <div class="col-lg-3 col-md-6 col-12">
        <div class="counter_item">
          <div class="counter_item_number">
            <h5 class="number" data-goal="102">0</h5>
          </div>
          <p>
            Our <br />
            Clients
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <div class="counter_item">
          <div class="counter_item_number">
            <h5 class="number" data-goal="32">0</h5>
          </div>
          <p>
            Total <br />
            Categories
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <div class="counter_item">
          <div class="counter_item_number">
            <h5 class="number" data-goal="102">0</h5>
          </div>
          <p>
            In <br />
            Country
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <div class="counter_item">
          <div class="counter_item_number d-flex align-items-center">
            <h5 class="number" data-goal="98">0</h5>
            <strong>%</strong>
          </div>
          <p>
            Happy <br />
            Customer
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- end counter -->

<!-- start section team -->

<section class="section_team mb-5">
  <div class="container pb-5">
    <div class="row justify-content-center">
      <div class="banner_team">
        <span>Our Team</span>
        <h6>Meet Our Team</h6>
      </div>
      <div class="team_content row">
        <div class="team_item col-lg-3 col-sm-6 col-12 ps-3 pe-3">
          <img src="./imgs/about/team-1.jpg" alt="" />
          <h6>John Smith</h6>
          <p>Fashion Design</p>
        </div>
        <div class="team_item col-lg-3 col-sm-6 col-12 ps-3 pe-3">
          <img src="./imgs/about/team-2.jpg" alt="" />
          <h6>Christine Wise</h6>
          <p>C.E.O</p>
        </div>
        <div class="team_item col-lg-3 col-sm-6 col-12 ps-3 pe-3">
          <img src="./imgs/about/team-3.jpg" alt="" />
          <h6>Sean Robbins</h6>
          <p>Manager</p>
        </div>
        <div class="team_item col-lg-3 col-sm-6 col-12 ps-3 pe-3">
          <img src="./imgs/about/team-4.jpg" alt="" />
          <h6>Lucy Myers</h6>
          <p>Delivery</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- end section team -->

<!-- start section client -->

<section class="section_client mb-5">
  <div class="container pb-5">
    <div class="row justify-content-center">
      <div class="banner_team">
        <span>Partner</span>
        <h6>Happy Clients</h6>
      </div>
      <div class="client_content row">
        <div class="client_item col-lg-3 col-md-4 col-sm-6 col-6 ps-3 pe-3">
          <a href="#">
            <img src="./imgs/about/client-1.png" alt="" />
          </a>
        </div>
        <div class="client_item col-lg-3 col-md-4 col-sm-6 col-6 ps-3 pe-3">
          <a href="#">
            <img src="./imgs/about/client-2.png" alt="" />
          </a>
        </div>
        <div class="client_item col-lg-3 col-md-4 col-sm-6 col-6 ps-3 pe-3">
          <a href="#">
            <img src="./imgs/about/client-3.png" alt="" />
          </a>
        </div>
        <div class="client_item col-lg-3 col-md-4 col-sm-6 col-6 ps-3 pe-3">
          <a href="#">
            <img src="./imgs/about/client-4.png" alt="" />
          </a>
        </div>
        <div class="client_item col-lg-3 col-md-4 col-sm-6 col-6 ps-3 pe-3">
          <a href="#">
            <img src="./imgs/about/client-5.png" alt="" />
          </a>
        </div>
        <div class="client_item col-lg-3 col-md-4 col-sm-6 col-6 ps-3 pe-3">
          <a href="#">
            <img src="./imgs/about/client-6.png" alt="" />
          </a>
        </div>
        <div class="client_item col-lg-3 col-md-4 col-sm-6 col-6 ps-3 pe-3">
          <a href="#">
            <img src="./imgs/about/client-7.png" alt="" />
          </a>
        </div>
        <div class="client_item col-lg-3 col-md-4 col-sm-6 col-6 ps-3 pe-3">
          <a href="#">
            <img src="./imgs/about/client-8.png" alt="" />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- end section client -->
