<!-- start section banner -->

<div class="banner">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-lg-7 offset-lg-4 mb-5">
        <div
          class="banner_item position-relative d-flex flex-column-reverse align-items-md-center flex-lg-row justify-content-end">
          <div class="banner_item_text">
            <h2>Clothing Collections 2030</h2>
            <a href="#">Shop now</a>
          </div>
          <div class="banner_item_img">
            <img src="./imgs/banner/banner-1.jpg" alt="banner-image" />
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div
          class="banner_item banner_item_center position-relative d-flex align-items-md-center flex-column-reverse flex-lg-row justify-content-end">
          <div class="banner_item_text">
            <h2>Accessories</h2>
            <a href="#">Shop now</a>
          </div>
          <div class="banner_item_img">
            <img src="./imgs/banner/banner-2.jpg" alt="banner-image" />
          </div>
        </div>
      </div>
      <div class="col-lg-7">
        <div
          class="banner_item banner_item_last position-relative d-flex align-items-md-center flex-column-reverse flex-lg-row justify-content-end">
          <div class="banner_item_text">
            <h2>Shoes Spring 2030</h2>
            <a href="#">Shop now</a>
          </div>
          <div class="banner_item_img">
            <img src="./imgs/banner/banner-3.jpg" alt="banner-image" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- end section banner -->
