<!-- start blog -->
<div class="blog">
  <div class="breadcrumb-blog d-flex justify-content-center align-items-center">
    <h2>Our Blog</h2>
  </div>
  <div class="blog-content">
    <div class="container">
      <div class="blog-item mt-5">
        <div class="row align-items-center">
          <div class="col-lg-4 col-sm-6 col-12">
            <div class="blog">
              <div class="blog-img img1"></div>
              <div class="blog-text">
                <span> <i class="fa-regular fa-calendar"></i>16 February 2020</span>
                <p class="text-start">
                  What Curling Irons Are The <br />
                  Best Ones
                </p>
                <a class="text-start" href="#">READ MORE</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-12">
            <div class="blog">
              <div class="blog-img img2"></div>
              <div class="blog-text">
                <span> <i class="fa-regular fa-calendar"></i>21 February 2020</span>
                <p class="text-start">
                  Eternity Bands Do Last <br />
                  Forever
                </p>
                <a class="text-start" href="#">READ MORE</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-12">
            <div class="blog">
              <div class="blog-img img3"></div>
              <div class="blog-text">
                <span> <i class="fa-regular fa-calendar"></i>28 February 2020</span>
                <p class="text-start">
                  The Health Benefits Of <br />
                  Sunglasses
                </p>
                <a class="text-start" href="#">READ MORE</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-12">
            <div class="blog">
              <div class="blog-img img4"></div>
              <div class="blog-text">
                <span> <i class="fa-regular fa-calendar"></i>28 February 2020</span>
                <p class="text-start">
                  The Health Benefits Of <br />
                  Sunglasses
                </p>
                <a class="text-start" href="#">READ MORE</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-12">
            <div class="blog">
              <div class="blog-img img5"></div>
              <div class="blog-text">
                <span> <i class="fa-regular fa-calendar"></i>28 February 2020</span>
                <p class="text-start">
                  The Health Benefits Of <br />
                  Sunglasses
                </p>
                <a class="text-start" href="#">READ MORE</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-12">
            <div class="blog">
              <div class="blog-img img6"></div>
              <div class="blog-text">
                <span> <i class="fa-regular fa-calendar"></i>28 February 2020</span>
                <p class="text-start">
                  The Health Benefits Of <br />
                  Sunglasses
                </p>
                <a class="text-start" href="#">READ MORE</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-12">
            <div class="blog">
              <div class="blog-img img7"></div>
              <div class="blog-text">
                <span> <i class="fa-regular fa-calendar"></i>28 February 2020</span>
                <p class="text-start">
                  The Health Benefits Of <br />
                  Sunglasses
                </p>
                <a class="text-start" href="#">READ MORE</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-12">
            <div class="blog">
              <div class="blog-img img8"></div>
              <div class="blog-text">
                <span> <i class="fa-regular fa-calendar"></i>28 February 2020</span>
                <p class="text-start">
                  The Health Benefits Of <br />
                  Sunglasses
                </p>
                <a class="text-start" href="#">READ MORE</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-12">
            <div class="blog">
              <div class="blog-img img9"></div>
              <div class="blog-text">
                <span> <i class="fa-regular fa-calendar"></i>28 February 2020</span>
                <p class="text-start">
                  The Health Benefits Of <br />
                  Sunglasses
                </p>
                <a class="text-start" href="#">READ MORE</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end blog -->
