<!-- start blog details -->

<div class="blog-details">
  <div class="blog-hero text-center">
    <div class="container">
      <h2>
        Are you one of the thousands of Iphone <br />
        owners who has no idea
      </h2>
      <div class="d-flex flex-wrap justify-content-center align-items-center">
        <p class="p">By Deercreative</p>
        <p class="p">February 21,2019</p>
        <p>8 Comments</p>
      </div>
    </div>
  </div>
  <div class="blog-content">
    <div class="container">
      <div class="image">
        <img src="./imgs/blog-details/blog-details.jpg" alt="" />
      </div>
    </div>
  </div>
</div>

<!-- end blog details -->
