<!-- start cart -->

<div class="cart shadow">
  <h2 class="cart-title">Your Cart</h2>
  <div class="cart-content">
    <div class="card-box">
      <img src="./imgs/products/product-1.jpg" alt="" class="cart-img" />
      <div class="detail-box"></div>
    </div>
  </div>
</div>

<!-- end cart -->
