<!-- Start check-out  -->

<!-- start breadcrumb -->

<div class="breadcrumb-check">
  <div class="container">
    <h5>Check Out</h5>
    <div class="d-flex justify-content-start">
      <a class="pe-2" href="./index.html"> Home </a> <span>></span> <a class="px-2" href="./shop.html"> Shop </a
      ><span>></span>
      <p class="ps-2">Check out</p>
    </div>
  </div>
</div>

<!-- end breadcrumb -->
<!-- start check-form -->

<div class="check-form">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-6">
        <div class="coupon-code">
          <p><i class="fa-solid fa-tag"></i> Have a coupon? <a href="">Click here</a> to enter your code</p>
        </div>
        <div class="check-tittle">
          <h6>BILLING DETAILS</h6>
        </div>
        <div class="check-input">
          <div class="row">
            <div class="col-lg-6 col-12">
              <div class="form">
                <p>Fist Name <span>*</span></p>
                <input type="text" class="form-control shadow-none border rounded-0" />
              </div>
            </div>
            <div class="col-lg-6 col-12">
              <div class="form">
                <p>Fist Name <span>*</span></p>
                <input type="text" class="form-control shadow-none border rounded-0" />
              </div>
            </div>
          </div>
        </div>
        <div class="check-input">
          <div class="form">
            <p>Country <span>*</span></p>
            <input type="text" class="form-control shadow-none border rounded-0" />
          </div>
        </div>
        <div class="check-input">
          <div class="form">
            <p>Address <span>*</span></p>
            <input type="text" class="form-control shadow-none border rounded-0" placeholder="Street Address" />
            <input
              type="text"
              class="form-control shadow-none border rounded-0"
              placeholder="Apartment, suite, unite ect (optinal)" />
          </div>
        </div>
        <div class="check-input">
          <div class="form">
            <p>Town/City <span>*</span></p>
            <input type="text" class="form-control shadow-none border rounded-0" />
          </div>
        </div>
        <div class="check-input">
          <div class="form">
            <p>Country/State <span>*</span></p>
            <input type="text" class="form-control shadow-none border rounded-0" />
          </div>
        </div>
        <div class="check-input">
          <div class="form">
            <p>Postcode / ZIP <span>*</span></p>
            <input type="text" class="form-control shadow-none border rounded-0" />
          </div>
        </div>
        <div class="check-input mb-4">
          <div class="row">
            <div class="col-lg-6 col-12">
              <div class="form">
                <p>Phone<span>*</span></p>
                <input type="text" class="form-control shadow-none border rounded-0" />
              </div>
            </div>
            <div class="col-lg-6 col-12">
              <div class="form">
                <p>Email* <span>*</span></p>
                <input type="email" class="form-control shadow-none border rounded-0" />
              </div>
            </div>
          </div>
          <div class="checked">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedDisabled" />
            <label class="form-check-label" for="flexCheckCheckedDisabled"> Create an account? </label>
          </div>
          <p>
            Create an account by entering the information below. If you are a returning customer please login at the top
            of the page
          </p>
        </div>
        <div class="check-input">
          <div class="form">
            <p>Account Password<span>*</span></p>
            <input type="text" class="form-control shadow-none border rounded-0" />
          </div>
          <div class="checked">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedDisabled" />
            <label class="form-check-label" for="flexCheckCheckedDisabled">
              Note about your order, e.g, special noe for delivery</label
            >
          </div>
        </div>
        <div class="check-input">
          <div class="form">
            <p>Order notes <span>*</span></p>
            <input
              type="text"
              class="form-control shadow-none border rounded-0"
              placeholder="Notes about your order, e.g. special notes for delivery." />
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="checkout-order">
          <div class="order-tittle">
            <h4>YOUR ORDER</h4>
          </div>
          <div class="order-product d-flex justify-content-between align-items-center">
            <p>Product</p>
            <p>Total</p>
          </div>
          <ul class="ps-0 order-list">
            <li class="d-flex justify-content-between align-items-center mb-3">
              <p>01. Vanilla salted caramel</p>
              <p>$ 300.0</p>
            </li>
            <li class="d-flex justify-content-between align-items-center mb-3">
              <p>02. German chocolate</p>
              <p>$ 170.0</p>
            </li>
            <li class="d-flex justify-content-between align-items-center mb-3">
              <p>03. Sweet autumn</p>
              <p>$ 300.0</p>
            </li>
            <li class="d-flex justify-content-between align-items-center mb-3">
              <p>04. Cluten free mini dozen</p>
              <p>$ 300.0</p>
            </li>
          </ul>
          <ul class="ps-0 order-total">
            <li class="d-flex justify-content-between align-items-center mb-3">
              <p>Subtotal</p>
              <p class="prise">$750.99</p>
            </li>
            <li class="d-flex justify-content-between align-items-center mb-3">
              <p>Total</p>
              <p class="prise">$750.99</p>
            </li>
          </ul>
          <div class="order-checked">
            <div class="checked mb-4">
              <input class="form-check-input" type="checkbox" value="" id="flex" checked />
              <label class="form-check-label" for="flex"> Create an account? </label>
            </div>
            <p class="mb-4">
              Lorem ipsum dolor sit amet, consectetur adip elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p>
            <div class="checked mb-3">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChec" />
              <label class="form-check-label" for="flexCheckChec"> Check Payment </label>
            </div>
            <div class="checked">
              <input class="form-check-input" type="checkbox" value="" id="flexChe" checked />
              <label class="form-check-label" for="flexChe"> Paypal</label>
            </div>
          </div>
          <div class="order-btn">
            <button class="btn rounded-0">PLACE ORDER</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- end  check-form -->

<!-- end check-out  -->
