<!-- start contacts -->
<div class="contacts">
  <div class="map">
    <iframe
      class="w-100"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26547304.18195947!2d-74.31265353169331!3d35.6859215014981!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54eab584e432360b%3A0x1c3bb99243deb742!2z2KfZhNmI2YTYp9mK2KfYqiDYp9mE2YXYqtit2K_YqQ!5e0!3m2!1sar!2siq!4v1681760876763!5m2!1sar!2siq"
      width="600"
      height="450"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  <div class="contact-info pt-3">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <h6>INFORMATION</h6>
          <h1>Contact Us</h1>
          <p class="mb-5">
            As you might expect of a company that began as a high-end interiors contractor, <br />
            we pay strict attention.
          </p>
          <ul>
            <li class="mb-4">
              <h5>America</h5>
              <p>
                195 E Parker Square Dr, Parker, CO 801 <br />
                +43 982-314-0958
              </p>
            </li>
            <li>
              <h5>France</h5>
              <p>
                109 Avenue Léon, 63 Clermont-Ferrand <br />
                +12 345-423-9893
              </p>
            </li>
          </ul>
        </div>
        <div class="col-lg-6">
          <div class="d-flex flex-wrap">
            <div class="col-md-6 col-12 px-lg-0 px-2">
              <input type="text" class="form-control shadow-none border rounded-0" placeholder="Name" />
            </div>
            <div class="col-md-6 col-12 px-lg-0 px-2">
              <input type="email" class="form-control shadow-none border rounded-0" placeholder="Email" />
            </div>
            <div class="col-12 px-lg-0 px-2">
              <textarea placeholder="Message"></textarea>
              <button class="btn rounded-0">SEND MESSAGE</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end  contacts -->
