<!-- start footer -->

<div class="footer pt-5 pb-3">
  <div class="container">
    <div class="row">
      <div class="col col-lg-3 col-md-6 col-sm-6 col-12 mb-4 mb-md-0">
        <div class="box">
          <div class="logo"><img src="./imgs/footer/footer-logo.png" alt="" /></div>
          <p>The customer is at the heart of our unique business model, which includes design.</p>
          <img src="./imgs/footer/payment.png" alt="" />
        </div>
      </div>
      <div class="col col-lg-2 offset-lg-1 col-md-3 col-sm-6 col-12 mb-4 mb-md-0">
        <h5>SHOPPING</h5>
          <ul class="ps-0">
            <li><a href="">Clothing Store</a></li>
            <li><a href="">Trending Shoes</a></li>
            <li><a href="">Accessories</a></li>
            <li><a href="">Sale</a></li>
          </ul>
      </div>
      <div class="col col-lg-2 col-md-3 col-sm-6 col-12 mb-4 mb-md-0">
        <h5>SHOPPING</h5>
          <ul class="ps-0">
            <li><a href="">Contact Us</a></li>
            <li><a href="">Payment Methods</a></li>
            <li><a href="">Delivary</a></li>
            <li><a href="">Return &</a></li>
            <li><a href="">Exchanges</a></li>
      </div>
      <div class="col col-lg-3 col-md-6 col-sm-6 col-12 mb-4 mb-md-0 ">
        <div class="box">
          <h5>NEWLETTER</h5>
          <p>Be the first to know about new arrivals, look books, sales & promos!</p>
          <div class="email d-flex align-items-center position-relative">
            <input class="form-control rounded-0 shadow-none" type="email" placeholder=" your Email" />
            <a class="position-absolute" href=""><i class="fa-regular fa-envelope"></i></a>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div>
        <p class="Copyright text-center ">
          Copyright © 20232020 All rights reserved | This template is made with
          <i class="fa-solid fa-heart"></i>
          by <a href=""> M & I</a>
        </p>
    </div>
  </div>
</div>
  <a href="#" class="scroll-up" >
    <i class="fa-solid fa-arrow-up"></i>
  </a>

<!-- end footer -->