<!-- start image slider -->
<div class="owl-carousel owl-theme slide position-relative">
  <div class="item item-1">
    <div class="container">
      <div class="row caption d-flex align-items-center">
        <div class="caption-text">
          <h6>Summer Collection</h6>
          <h1>
            Fall - Winter <br />
            Collections 2030
          </h1>
          <p>
            A specialist label creating luxury essentials. Ethically crafted
            <br />
            with an unwavering commitment to exceptional quality.
          </p>
          <a href="" class="btn"
            >Shop now <i class="fa-solid fa-arrow-right"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
  <div class="item item-2">
    <div class="container">
      <div class="row caption d-flex align-items-center">
        <div class="caption-text">
          <h6>Summer Collection</h6>
          <h1>
            Fall - Winter <br />
            Collections 2030
          </h1>
          <p>
            A specialist label creating luxury essentials. Ethically crafted
            <br />
            with an unwavering commitment to exceptional quality.
          </p>
          <a href="" class="btn"
            >Shop now <i class="fa-solid fa-arrow-right"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end image slider -->
