<!-- start image slider -->

<div class="image-slider">
  <div class="slider">
    <div class="slide slide-1">
      <div class="container">
        <div class="d-flex">
          <div class="col-4">
            <div class="caption d-flex flex-column justify-content-center ps-4">
              <span>Summer Collection</span>
              <h3>Fall - Winter Collections 2030</h3>
              <p>
                A specialist label creating luxury essentials. Ethically crafted with an unwavering commitment to
                exceptional quality.
              </p>
              <a href="btn">Shop now <i class="fa-solid fa-arrow-right"></i></a>
            </div>
          </div>
          <div class="col-8"></div>
        </div>
      </div>
    </div>
    <div class="slide slide-2">
      <div class="container">
        <div class="d-flex">
          <div class="col-4">
            <div class="caption d-flex flex-column justify-content-center ps-4">
              <span>Summer Collection</span>
              <h3>Fall - Winter Collections 2030</h3>
              <p>
                A specialist label creating luxury essentials. Ethically crafted with an unwavering commitment to
                exceptional quality.
              </p>
              <a href="btn">Shop now <i class="fa-solid fa-arrow-right"></i></a>
            </div>
          </div>
          <div class="col-8"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="arrow arrow-left" id="arrow-left">
    <i class="fa-solid fa-arrow-left"></i>
  </div>
  <div class="arrow arrow-right" id="arrow-right">
    <i class="fa-solid fa-arrow-right"></i>
  </div>
</div>

<!-- end image slider -->
