<!-- start Instagram section -->

<div class="instagram">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="d-flex flex-wrap">
          <div class="col-lg-4 col-md-6 col-12">
            <img src="./imgs/Instagram/instagram-1.jpg" class="w-100" alt="" />
          </div>
          <div class="col-lg-4 col-md-6 col-12">
            <img src="./imgs/Instagram/instagram-2.jpg" class="w-100" alt="" />
          </div>
          <div class="col-lg-4 col-md-6 col-12">
            <img src="./imgs/Instagram/instagram-3.jpg" class="w-100" alt="" />
          </div>
          <div class="col-lg-4 col-md-6 col-12">
            <img src="./imgs/Instagram/instagram-4.jpg" class="w-100" alt="" />
          </div>
          <div class="col-lg-4 col-md-6 col-12">
            <img src="./imgs/Instagram/instagram-5.jpg" class="w-100" alt="" />
          </div>
          <div class="col-lg-4 col-md-6 col-12">
            <img src="./imgs/Instagram/instagram-6.jpg" class="w-100" alt="" />
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="insta-text d-flex flex-column ps-md-4">
          <h1>Instagram</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.
          </p>
          <h2>#Male_Fashion</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- end Instagram section -->
