<!-- start LATEST NEWS -->

<div class="latest-news">
  <div class="container">
    <h5 class="text-center">LATEST NEWS</h5>
    <h1 class="text-center">Fashion New Trends</h1>
    <div class="blog-item mt-5">
      <div class="row align-items-center">
        <div class="col-lg-4 col-sm-6 col-12">
          <div class="blog">
            <div class="blog-img img1"></div>
            <div class="blog-text">
              <span> <i class="fa-regular fa-calendar"></i>16 February 2020</span>
              <p class="text-start">
                What Curling Irons Are The <br />
                Best Ones
              </p>
              <a class="text-start" href="#">READ MORE</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-12">
          <div class="blog">
            <div class="blog-img img2"></div>
            <div class="blog-text">
              <span> <i class="fa-regular fa-calendar"></i>21 February 2020</span>
              <p class="text-start">
                Eternity Bands Do Last <br />
                Forever
              </p>
              <a class="text-start" href="#">READ MORE</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-12">
          <div class="blog">
            <div class="blog-img img3"></div>
            <div class="blog-text">
              <span> <i class="fa-regular fa-calendar"></i>28 February 2020</span>
              <p class="text-start">
                The Health Benefits Of <br />
                Sunglasses
              </p>
              <a class="text-start" href="#">READ MORE</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- start LATEST NEWS -->
