<!-- start products-details -->

<div class="products-details">
  <div class="container">
    <div class="bread-details d-flex align-items-center justify-content-center">
      <a class="pe-2" href="./index.html"> Home </a> <span>></span> <a class="px-2" href="./shop.html"> Shop </a
      ><span>></span>
      <p class="ps-2">Product Details</p>
    </div>
    <div class="row">
      <div class="col-md-3">
        <ul class="images">
          <li data-cont=".one1"><img src="./imgs/shop-details/thumb-1.png" alt="" /></li>
          <li data-cont=".two2"><img src="./imgs/shop-details/thumb-2.png" alt="" /></li>
          <li data-cont=".there3"><img src="./imgs/shop-details/thumb-3.png" alt="" /></li>
          <li data-cont=".four4"><img src="./imgs/shop-details/thumb-4.png" alt="" /></li>
        </ul>
      </div>
      <div class="col-lg-6 col-md-9">
        <div class="contents">
          <div class="one1">
            <div class="content-details-tab">
              <img src="./imgs/shop-details/product-big-2.png" alt="" />
            </div>
          </div>
          <div class="two2">
            <div class="content-details-tab">
              <img src="./imgs/shop-details/product-big-3.png" alt="" />
            </div>
          </div>
          <div class="there3">
            <div class="content-details-tab">
              <img src="./imgs/shop-details/product-big.png" alt="" />
            </div>
          </div>
          <div class="four4">
            <div class="content-details-tab">
              <img src="./imgs/shop-details/product-big-4.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- end products-details -->
