<div
  class="shop_product_option d-flex justify-content-between flex-wrap align-items-center"
>
  <div class="shop_product_show">
    <p>Showing 1–12 of 126 results</p>
  </div>
  <div class="shop_product_price d-flex align-items-center">
    <p>Sort by Price:</p>
    <div class="select_option d-flex align-items-center position-relative">
      <select class="form-select drop_arow pe-1">
        <option selected>Low To High</option>
        <option value="1">$0 - $55</option>
        <option value="2">$55 - $100</option>
      </select>
      <div class="rotate-arow">
        <i class="fa-solid fa-chevron-down"></i>
      </div>
    </div>
  </div>
</div>
