<div
  class="shop_product_option d-flex justify-content-between flex-wrap align-items-center mb-5"
>
  <div class="shop_product_show">
    <p>Showing 1–12 of 126 results</p>
  </div>
  <div class="shop_product_price d-flex align-items-center">
    <p>Sort by Price:</p>
    <div class="select_option d-flex align-items-center position-relative">
      <select class="form-select drop_arow pe-1">
        <option selected>Low To High</option>
        <option value="1">$0 - $55</option>
        <option value="2">$55 - $100</option>
      </select>
      <div class="rotate-arow">
        <i class="fa-solid fa-chevron-down"></i>
      </div>
    </div>
  </div>
</div>
<div class="products-shop" id="products_shop">
  <div class="product_shop_item d-flex flex-wrap">
    <div class="product_item col-lg-4 col-sm-6 col-12">
      <div class="">
        <div class="card">
          <div class="btn_gro">
            <a href="#" class="btn">
              <i class="fa-regular fa-heart"></i>
            </a>
            <a href="#" class="btn">
              <i class="fa-solid fa-arrow-right-arrow-left"></i>
            </a>
            <a href="#" class="btn">
              <i class="fa-solid fa-magnifying-glass"></i>
            </a>
          </div>
          <span class="new">NEW</span>
          <img src="./imgs/products/product-9.jpg" alt="" />
          <div class="card-body">
            <h2 class="card-title">Piqué Biker Jacket</h2>
            <p class="card-text rating">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
            </p>
            <div class="sale">
              <h3>$67.24</h3>
              <div class="change-color">
                <span class="blue"></span>
                <span class="black"></span>
                <span class="yallow"></span>
              </div>
            </div>
          </div>
          <a href="#" class="add-cart">+ Add To Cart</a>
        </div>
      </div>
    </div>
    <div class="product_item col-lg-4 col-sm-6 col-12">
      <div class="">
        <div class="card">
          <div class="btn_gro">
            <a href="#" class="btn">
              <i class="fa-regular fa-heart"></i>
            </a>
            <a href="#" class="btn">
              <i class="fa-solid fa-arrow-right-arrow-left"></i>
            </a>
            <a href="#" class="btn">
              <i class="fa-solid fa-magnifying-glass"></i>
            </a>
          </div>
          <span class="new">NEW</span>
          <img src="./imgs/products/product-1.jpg" alt="" />
          <div class="card-body">
            <h2 class="card-title">Piqué Biker Jacket</h2>
            <p class="card-text rating">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
            </p>
            <div class="sale">
              <h3>$67.24</h3>
              <div class="change-color">
                <span class="blue"></span>
                <span class="black"></span>
                <span class="yallow"></span>
              </div>
            </div>
          </div>
          <a href="#" class="add-cart">+ Add To Cart</a>
        </div>
      </div>
    </div>
    <div class="product_item col-lg-4 col-sm-6 col-12">
      <div class="">
        <div class="card">
          <div class="btn_gro">
            <a href="#" class="btn">
              <i class="fa-regular fa-heart"></i>
            </a>
            <a href="#" class="btn">
              <i class="fa-solid fa-arrow-right-arrow-left"></i>
            </a>
            <a href="#" class="btn">
              <i class="fa-solid fa-magnifying-glass"></i>
            </a>
          </div>
          <span class="new">NEW</span>
          <img src="./imgs/products/product-2.jpg" alt="" />
          <div class="card-body">
            <h2 class="card-title">Piqué Biker Jacket</h2>
            <p class="card-text rating">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
            </p>
            <div class="sale">
              <h3>$67.24</h3>
              <div class="change-color">
                <span class="blue"></span>
                <span class="black"></span>
                <span class="yallow"></span>
              </div>
            </div>
          </div>
          <a href="#" class="add-cart">+ Add To Cart</a>
        </div>
      </div>
    </div>
    <div class="product_item col-lg-4 col-sm-6 col-12">
      <div class="">
        <div class="card">
          <div class="btn_gro">
            <a href="#" class="btn">
              <i class="fa-regular fa-heart"></i>
            </a>
            <a href="#" class="btn">
              <i class="fa-solid fa-arrow-right-arrow-left"></i>
            </a>
            <a href="#" class="btn">
              <i class="fa-solid fa-magnifying-glass"></i>
            </a>
          </div>
          <span class="new">NEW</span>
          <img src="./imgs/products/product-3.jpg" alt="" />
          <div class="card-body">
            <h2 class="card-title">Piqué Biker Jacket</h2>
            <p class="card-text rating">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
            </p>
            <div class="sale">
              <h3>$67.24</h3>
              <div class="change-color">
                <span class="blue"></span>
                <span class="black"></span>
                <span class="yallow"></span>
              </div>
            </div>
          </div>
          <a href="#" class="add-cart">+ Add To Cart</a>
        </div>
      </div>
    </div>
    <div class="product_item col-lg-4 col-sm-6 col-12">
      <div class="">
        <div class="card">
          <div class="btn_gro">
            <a href="#" class="btn">
              <i class="fa-regular fa-heart"></i>
            </a>
            <a href="#" class="btn">
              <i class="fa-solid fa-arrow-right-arrow-left"></i>
            </a>
            <a href="#" class="btn">
              <i class="fa-solid fa-magnifying-glass"></i>
            </a>
          </div>
          <span class="new">NEW</span>
          <img src="./imgs/products/product-4.jpg" alt="" />
          <div class="card-body">
            <h2 class="card-title">Piqué Biker Jacket</h2>
            <p class="card-text rating">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
            </p>
            <div class="sale">
              <h3>$67.24</h3>
              <div class="change-color">
                <span class="blue"></span>
                <span class="black"></span>
                <span class="yallow"></span>
              </div>
            </div>
          </div>
          <a href="#" class="add-cart">+ Add To Cart</a>
        </div>
      </div>
    </div>
    <div class="product_item col-lg-4 col-sm-6 col-12">
      <div class="">
        <div class="card">
          <div class="btn_gro">
            <a href="#" class="btn">
              <i class="fa-regular fa-heart"></i>
            </a>
            <a href="#" class="btn">
              <i class="fa-solid fa-arrow-right-arrow-left"></i>
            </a>
            <a href="#" class="btn">
              <i class="fa-solid fa-magnifying-glass"></i>
            </a>
          </div>
          <span class="new">NEW</span>
          <img src="./imgs/products/product-5.jpg" alt="" />
          <div class="card-body">
            <h2 class="card-title">Piqué Biker Jacket</h2>
            <p class="card-text rating">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
            </p>
            <div class="sale">
              <h3>$67.24</h3>
              <div class="change-color">
                <span class="blue"></span>
                <span class="black"></span>
                <span class="yallow"></span>
              </div>
            </div>
          </div>
          <a href="#" class="add-cart">+ Add To Cart</a>
        </div>
      </div>
    </div>
    <div class="product_item col-lg-4 col-sm-6 col-12">
      <div class="">
        <div class="card">
          <div class="btn_gro">
            <a href="#" class="btn">
              <i class="fa-regular fa-heart"></i>
            </a>
            <a href="#" class="btn">
              <i class="fa-solid fa-arrow-right-arrow-left"></i>
            </a>
            <a href="#" class="btn">
              <i class="fa-solid fa-magnifying-glass"></i>
            </a>
          </div>
          <span class="new">NEW</span>
          <img src="./imgs/products/product-6.jpg" alt="" />
          <div class="card-body">
            <h2 class="card-title">Piqué Biker Jacket</h2>
            <p class="card-text rating">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
            </p>
            <div class="sale">
              <h3>$67.24</h3>
              <div class="change-color">
                <span class="blue"></span>
                <span class="black"></span>
                <span class="yallow"></span>
              </div>
            </div>
          </div>
          <a href="#" class="add-cart">+ Add To Cart</a>
        </div>
      </div>
    </div>
    <div class="product_item col-lg-4 col-sm-6 col-12">
      <div class="">
        <div class="card">
          <div class="btn_gro">
            <a href="#" class="btn">
              <i class="fa-regular fa-heart"></i>
            </a>
            <a href="#" class="btn">
              <i class="fa-solid fa-arrow-right-arrow-left"></i>
            </a>
            <a href="#" class="btn">
              <i class="fa-solid fa-magnifying-glass"></i>
            </a>
          </div>
          <span class="new">NEW</span>
          <img src="./imgs/products/product-7.jpg" alt="" />
          <div class="card-body">
            <h2 class="card-title">Piqué Biker Jacket</h2>
            <p class="card-text rating">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
            </p>
            <div class="sale">
              <h3>$67.24</h3>
              <div class="change-color">
                <span class="blue"></span>
                <span class="black"></span>
                <span class="yallow"></span>
              </div>
            </div>
          </div>
          <a href="#" class="add-cart">+ Add To Cart</a>
        </div>
      </div>
    </div>
    <div class="product_item col-lg-4 col-sm-6 col-12">
      <div class="">
        <div class="card">
          <div class="btn_gro">
            <a href="#" class="btn">
              <i class="fa-regular fa-heart"></i>
            </a>
            <a href="#" class="btn">
              <i class="fa-solid fa-arrow-right-arrow-left"></i>
            </a>
            <a href="#" class="btn">
              <i class="fa-solid fa-magnifying-glass"></i>
            </a>
          </div>
          <span class="new">NEW</span>
          <img src="./imgs/products/product-8.jpg" alt="" />
          <div class="card-body">
            <h2 class="card-title">Piqué Biker Jacket</h2>
            <p class="card-text rating">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
            </p>
            <div class="sale">
              <h3>$67.24</h3>
              <div class="change-color">
                <span class="blue"></span>
                <span class="black"></span>
                <span class="yallow"></span>
              </div>
            </div>
          </div>
          <a href="#" class="add-cart">+ Add To Cart</a>
        </div>
      </div>
    </div>
    <div class="product_item col-lg-4 col-sm-6 col-12">
      <div class="">
        <div class="card">
          <div class="btn_gro">
            <a href="#" class="btn">
              <i class="fa-regular fa-heart"></i>
            </a>
            <a href="#" class="btn">
              <i class="fa-solid fa-arrow-right-arrow-left"></i>
            </a>
            <a href="#" class="btn">
              <i class="fa-solid fa-magnifying-glass"></i>
            </a>
          </div>
          <span class="new">NEW</span>
          <img src="./imgs/products/product-14.jpg" alt="" />
          <div class="card-body">
            <h2 class="card-title">Piqué Biker Jacket</h2>
            <p class="card-text rating">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
            </p>
            <div class="sale">
              <h3>$67.24</h3>
              <div class="change-color">
                <span class="blue"></span>
                <span class="black"></span>
                <span class="yallow"></span>
              </div>
            </div>
          </div>
          <a href="#" class="add-cart">+ Add To Cart</a>
        </div>
      </div>
    </div>
    <div class="product_item col-lg-4 col-sm-6 col-12">
      <div class="">
        <div class="card">
          <div class="btn_gro">
            <a href="#" class="btn">
              <i class="fa-regular fa-heart"></i>
            </a>
            <a href="#" class="btn">
              <i class="fa-solid fa-arrow-right-arrow-left"></i>
            </a>
            <a href="#" class="btn">
              <i class="fa-solid fa-magnifying-glass"></i>
            </a>
          </div>
          <span class="new">NEW</span>
          <img src="./imgs/products/product-10.jpg" alt="" />
          <div class="card-body">
            <h2 class="card-title">Piqué Biker Jacket</h2>
            <p class="card-text rating">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
            </p>
            <div class="sale">
              <h3>$67.24</h3>
              <div class="change-color">
                <span class="blue"></span>
                <span class="black"></span>
                <span class="yallow"></span>
              </div>
            </div>
          </div>
          <a href="#" class="add-cart">+ Add To Cart</a>
        </div>
      </div>
    </div>
    <div class="product_item col-lg-4 col-sm-6 col-12">
      <div class="">
        <div class="card">
          <div class="btn_gro">
            <a href="#" class="btn">
              <i class="fa-regular fa-heart"></i>
            </a>
            <a href="#" class="btn">
              <i class="fa-solid fa-arrow-right-arrow-left"></i>
            </a>
            <a href="#" class="btn">
              <i class="fa-solid fa-magnifying-glass"></i>
            </a>
          </div>
          <span class="new">NEW</span>
          <img src="./imgs/products/product-11.jpg" alt="" />
          <div class="card-body">
            <h2 class="card-title">Piqué Biker Jacket</h2>
            <p class="card-text rating">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
            </p>
            <div class="sale">
              <h3>$67.24</h3>
              <div class="change-color">
                <span class="blue"></span>
                <span class="black"></span>
                <span class="yallow"></span>
              </div>
            </div>
          </div>
          <a href="#" class="add-cart">+ Add To Cart</a>
        </div>
      </div>
    </div>
  </div>
</div>
