<!-- start products-details -->

<div class="products-details">
  <div class="container">
    <div class="bread-details d-flex align-items-center justify-content-center">
      <a class="pe-2" href="./index.html"> Home </a> <span>></span> <a class="px-2" href="./shop.html"> Shop </a
      ><span>></span>
      <p class="ps-2">Product Details</p>
    </div>
    <div class="row">
      <div class="col-md-3">
        <ul class="tabs">
          <li class="mb-2 image">
            <a href="#img1"><img src="./imgs/shop-details/thumb-1.png" alt="" /></a>
          </li>
          <li class="mb-2 image">
            <a href="#img2"><img src="./imgs/shop-details/thumb-2.png" alt="" /></a>
          </li>
          <li class="mb-2 image">
            <a href="#img3"><img src="./imgs/shop-details/thumb-3.png" alt="" /></a>
          </li>
          <li class="mb-2 image">
            <a class="tab4 position-relative" href="#img4"
              ><img src="./imgs/shop-details/thumb-4.png" alt="" /><i class="fa-regular fa-circle-play"></i
            ></a>
          </li>
        </ul>
      </div>
      <div class="col-lg-6 col-md-9">
        <div class="content">
          <div class="item active" id="img1">
            <img src="./imgs/shop-details/product-big-2.png" alt="" />
          </div>
          <div class="item" id="img2">
            <img src="./imgs/shop-details/product-big-3.png" alt="" />
          </div>
          <div class="item" id="img3">
            <img src="./imgs/shop-details/product-big.png" alt="" />
          </div>
          <div class="item" id="img4">
            <img src="./imgs/shop-details/product-big-4.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- end products-details -->
