<div class="product pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="product_btn d-flex justify-content-center">
          <button class="Best_Sellers active-btn" id="Best-Sellers">
            Best Sellers
          </button>
          <button class="New_Arrivals" id="New-Arrivals">New Arrivals</button>
          <button class="Hot_Sales" id="Hot-Sales">Hot Sales</button>
        </div>
      </div>
      <div class="col-12 product_cart d-flex flex-wrap">
        <div class="product_item col-lg-3 col-sm-6 col-12 new-arrivals-1">
          <div class="">
            <div class="card">
              <div class="btn_gro">
                <a href="#" class="btn">
                  <i class="fa-regular fa-heart"></i>
                </a>
                <a href="#" class="btn">
                  <i class="fa-solid fa-arrow-right-arrow-left"></i>
                </a>
                <a href="#" class="btn">
                  <i class="fa-solid fa-magnifying-glass"></i>
                </a>
              </div>
              <span class="new">NEW</span>
              <img src="./imgs/products/product-1.jpg" alt="" />
              <div class="card-body">
                <h2 class="card-title">Piqué Biker Jacket</h2>
                <a href="#" class="add-cart">+ Add To Cart</a>
                <p class="card-text rating">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                </p>
                <div class="sale">
                  <h3>$67.24</h3>
                  <div class="change-color">
                    <span class="blue"></span>
                    <span class="black"></span>
                    <span class="yallow"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="product_item col-lg-3 col-sm-6 col-12 hot-sales-1">
          <div class="">
            <div class="card">
              <div class="btn_gro">
                <a href="#" class="btn">
                  <i class="fa-regular fa-heart"></i>
                </a>
                <a href="#" class="btn">
                  <i class="fa-solid fa-arrow-right-arrow-left"></i>
                </a>
                <a href="#" class="btn">
                  <i class="fa-solid fa-magnifying-glass"></i>
                </a>
              </div>
              <img src="./imgs/products/product-2.jpg" alt="" />
              <div class="card-body">
                <h2 class="card-title">Biker Jacket</h2>
                <a href="#" class="add-cart">+ Add To Cart</a>
                <p class="card-text rating">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                </p>
                <div class="sale">
                  <h3>$60.24</h3>
                  <div class="change-color">
                    <span class="blue"></span>
                    <span class="black"></span>
                    <span class="yallow"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="product_item col-lg-3 col-sm-6 col-12 new-arrivals-2">
          <div class="">
            <div class="card">
              <div class="btn_gro">
                <a href="#" class="btn">
                  <i class="fa-regular fa-heart"></i>
                </a>
                <a href="#" class="btn">
                  <i class="fa-solid fa-arrow-right-arrow-left"></i>
                </a>
                <a href="#" class="btn">
                  <i class="fa-solid fa-magnifying-glass"></i>
                </a>
              </div>
              <span class="saler">SALE</span>
              <img src="./imgs/products/product-3.jpg" alt="" />
              <div class="card-body">
                <h2 class="card-title">Multi-pocket Chest Bag</h2>
                <a href="#" class="add-cart">+ Add To Cart</a>
                <p class="card-text rating">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                </p>
                <div class="sale">
                  <h3>$43.48</h3>
                  <div class="change-color">
                    <span class="blue"></span>
                    <span class="black"></span>
                    <span class="yallow"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="product_item col-lg-3 col-sm-6 col-12 hot-sales-2">
          <div class="">
            <div class="card">
              <div class="btn_gro">
                <a href="#" class="btn">
                  <i class="fa-regular fa-heart"></i>
                </a>
                <a href="#" class="btn">
                  <i class="fa-solid fa-arrow-right-arrow-left"></i>
                </a>
                <a href="#" class="btn">
                  <i class="fa-solid fa-magnifying-glass"></i>
                </a>
              </div>
              <img src="./imgs/products/product-4.jpg" alt="" />
              <div class="card-body">
                <h2 class="card-title">Diagonal Textured Cap</h2>
                <a href="#" class="add-cart">+ Add To Cart</a>
                <p class="card-text rating">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                </p>
                <div class="sale">
                  <h3>$60.9</h3>
                  <div class="change-color">
                    <span class="blue"></span>
                    <span class="black"></span>
                    <span class="yallow"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="product_item col-lg-3 col-sm-6 col-12 new-arrivals-3">
          <div class="">
            <div class="card">
              <div class="btn_gro">
                <a href="#" class="btn">
                  <i class="fa-regular fa-heart"></i>
                </a>
                <a href="#" class="btn">
                  <i class="fa-solid fa-arrow-right-arrow-left"></i>
                </a>
                <a href="#" class="btn">
                  <i class="fa-solid fa-magnifying-glass"></i>
                </a>
              </div>
              <img src="./imgs/products/product-5.jpg" alt="" />
              <div class="card-body">
                <h2 class="card-title">Lether Backpack</h2>
                <a href="#" class="add-cart">+ Add To Cart</a>
                <p class="card-text rating">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                </p>
                <div class="sale">
                  <h3>$31.37</h3>
                  <div class="change-color">
                    <span class="blue"></span>
                    <span class="black"></span>
                    <span class="yallow"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="product_item col-lg-3 col-sm-6 col-12 hot-sales-3">
          <div class="">
            <div class="card">
              <div class="btn_gro">
                <a href="#" class="btn">
                  <i class="fa-regular fa-heart"></i>
                </a>
                <a href="#" class="btn">
                  <i class="fa-solid fa-arrow-right-arrow-left"></i>
                </a>
                <a href="#" class="btn">
                  <i class="fa-solid fa-magnifying-glass"></i>
                </a>
              </div>
              <span class="saler">SALE</span>
              <img src="./imgs/products/product-6.jpg" alt="" />
              <div class="card-body">
                <h2 class="card-title">Ankle Boots</h2>
                <a href="#" class="add-cart">+ Add To Cart</a>
                <p class="card-text rating">
                  <i class="fa-regular fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                </p>
                <div class="sale">
                  <h3>$98.49</h3>
                  <div class="change-color">
                    <span class="blue"></span>
                    <span class="black"></span>
                    <span class="yallow"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="product_item col-lg-3 col-sm-6 col-12 new-arrivals-4">
          <div class="">
            <div class="card">
              <div class="btn_gro">
                <a href="#" class="btn">
                  <i class="fa-regular fa-heart"></i>
                </a>
                <a href="#" class="btn">
                  <i class="fa-solid fa-arrow-right-arrow-left"></i>
                </a>
                <a href="#" class="btn">
                  <i class="fa-solid fa-magnifying-glass"></i>
                </a>
              </div>
              <img src="./imgs/products/product-7.jpg" alt="" />
              <div class="card-body">
                <h2 class="card-title">T-shirt Contrast Pocket</h2>
                <a href="#" class="add-cart">+ Add To Cart</a>
                <p class="card-text rating">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                </p>
                <div class="sale">
                  <h3>$49.66</h3>
                  <div class="change-color">
                    <span class="blue"></span>
                    <span class="black"></span>
                    <span class="yallow"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="product_item col-lg-3 col-sm-6 col-12 hot-sales-4">
          <div class="">
            <div class="card">
              <div class="btn_gro">
                <a href="#" class="btn">
                  <i class="fa-regular fa-heart"></i>
                </a>
                <a href="#" class="btn">
                  <i class="fa-solid fa-arrow-right-arrow-left"></i>
                </a>
                <a href="#" class="btn">
                  <i class="fa-solid fa-magnifying-glass"></i>
                </a>
              </div>
              <img src="./imgs/products/product-8.jpg" alt="" />
              <div class="card-body">
                <h2 class="card-title">Basic Flowing Scarf</h2>
                <a href="#" class="add-cart">+ Add To Cart</a>
                <p class="card-text rating">
                  <i class="fa-regular fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                </p>
                <div class="sale">
                  <h3>$26.28</h3>
                  <div class="change-color">
                    <span class="blue"></span>
                    <span class="black"></span>
                    <span class="yallow"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
