<!-- start Related Product -->

<div class="product pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center">Related Product</h1>
      </div>
      <div class="col-12 product_cart d-flex flex-wrap">
        <div class="product_item col-lg-3 col-sm-6 col-12 new-arrivals-1">
          <div class="">
            <div class="card">
              <div class="btn_gro">
                <a href="#" class="btn">
                  <i class="fa-regular fa-heart"></i>
                </a>
                <a href="#" class="btn">
                  <i class="fa-solid fa-arrow-right-arrow-left"></i>
                </a>
                <a href="#" class="btn">
                  <i class="fa-solid fa-magnifying-glass"></i>
                </a>
              </div>
              <span class="new">NEW</span>
              <img src="./imgs/products/product-1.jpg" alt="" />
              <div class="card-body">
                <h2 class="card-title">Piqué Biker Jacket</h2>
                <p class="card-text rating">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                </p>
                <div class="sale">
                  <h3>$67.24</h3>
                  <div class="change-color">
                    <span class="blue"></span>
                    <span class="black"></span>
                    <span class="yallow"></span>
                  </div>
                </div>
              </div>
              <a href="#" class="add-cart">+ Add To Cart</a>
            </div>
          </div>
        </div>
        <div class="product_item col-lg-3 col-sm-6 col-12 hot-sales-1">
          <div class="">
            <div class="card">
              <div class="btn_gro">
                <a href="#" class="btn">
                  <i class="fa-regular fa-heart"></i>
                </a>
                <a href="#" class="btn">
                  <i class="fa-solid fa-arrow-right-arrow-left"></i>
                </a>
                <a href="#" class="btn">
                  <i class="fa-solid fa-magnifying-glass"></i>
                </a>
              </div>
              <img src="./imgs/products/product-2.jpg" alt="" />
              <div class="card-body">
                <h2 class="card-title">Biker Jacket</h2>
                <p class="card-text rating">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                </p>
                <div class="sale">
                  <h3>$60.24</h3>
                  <div class="change-color">
                    <span class="blue"></span>
                    <span class="black"></span>
                    <span class="yallow"></span>
                  </div>
                </div>
              </div>
              <a href="#" class="add-cart">+ Add To Cart</a>
            </div>
          </div>
        </div>
        <div class="product_item col-lg-3 col-sm-6 col-12 new-arrivals-2">
          <div class="">
            <div class="card">
              <div class="btn_gro">
                <a href="#" class="btn">
                  <i class="fa-regular fa-heart"></i>
                </a>
                <a href="#" class="btn">
                  <i class="fa-solid fa-arrow-right-arrow-left"></i>
                </a>
                <a href="#" class="btn">
                  <i class="fa-solid fa-magnifying-glass"></i>
                </a>
              </div>
              <span class="saler">SALE</span>
              <img src="./imgs/products/product-3.jpg" alt="" />
              <div class="card-body">
                <h2 class="card-title">Multi-pocket Chest Bag</h2>
                <p class="card-text rating">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                </p>
                <div class="sale">
                  <h3>$43.48</h3>
                  <div class="change-color">
                    <span class="blue"></span>
                    <span class="black"></span>
                    <span class="yallow"></span>
                  </div>
                </div>
              </div>
              <a href="#" class="add-cart">+ Add To Cart</a>
            </div>
          </div>
        </div>
        <div class="product_item col-lg-3 col-sm-6 col-12 hot-sales-2">
          <div class="">
            <div class="card">
              <div class="btn_gro">
                <a href="#" class="btn">
                  <i class="fa-regular fa-heart"></i>
                </a>
                <a href="#" class="btn">
                  <i class="fa-solid fa-arrow-right-arrow-left"></i>
                </a>
                <a href="#" class="btn">
                  <i class="fa-solid fa-magnifying-glass"></i>
                </a>
              </div>
              <img src="./imgs/products/product-4.jpg" alt="" />
              <div class="card-body">
                <h2 class="card-title">Diagonal Textured Cap</h2>
                <p class="card-text rating">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                </p>
                <div class="sale">
                  <h3>$60.9</h3>

                  <div class="change-color">
                    <span class="blue"></span>
                    <span class="black"></span>
                    <span class="yallow"></span>
                  </div>
                </div>
              </div>
              <a href="#" class="add-cart">+ Add To Cart</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- end Related Product -->
