<!-- start search-modal -->

<div class="search-modal hidden h-100 w-100 d-flex flex-column justify-content-center align-items-center">
  <div class="close d-flex justify-content-center align-items-center">
    <a id="close-modal" href=""> <i class="fa-solid fa-xmark"></i></a>
  </div>
  <div class="search">
    <input type="search" class="form-control shadow-none border-0" placeholder="Search here....." />
  </div>
</div>

<!-- end search-modal -->
