<!-- start Shoe Collection -->

<div class="Shoe-Collection">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 d-flex justify-content-lg-center justify-content-start align-items-center">
        <div class="tittle-text">
          <h2>Clothings Hot</h2>
          <h1>Shoe Collection</h1>
          <h2>Accessories</h2>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="image position-relative">
          <img src="./imgs/products/product-sale.png" class="w-100" alt="" />
          <div class="titte position-absolute">
            <span> Sale Of </span>
            <p class="pt-2">$29.99</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 offset-lg-1">
        <div class="counter text-start">
          <h5>DEAL OF THE WEEK</h5>
          <h1>Multi-pocket Chest Bag Black</h1>
          <div class="launch-time d-flex">
            <div>
              <p id="days">00</p>
              <span>Days</span>
            </div>
            <div>
              <p id="hours">00</p>
              <span>Hours</span>
            </div>
            <div>
              <p id="minutes">00</p>
              <span>Minutes</span>
            </div>
            <div>
              <p id="seconds">00</p>
              <span>Seconds</span>
            </div>
          </div>
          <a class="btn" href="">SHOP NOW</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- end Shoe Collection -->
