<!-- start shop details -->
<!-- start shop-details-text -->

<div class="shop-details-text">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-8">
        <div class="content-details-text">
          <h5>Hooded thermal anorak</h5>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <span> - 5 Reviews</span>
          </div>
          <h3>$270.00 <span>70.00</span></h3>
          <p>
            Coat with quilted lining and an adjustable hood. Featuring long sleeves with adjustable cuff tabs,
            adjustable asymmetric hem with elastic side tabs and a front zip fastening with placket.
          </p>
          <div class="content-details-option d-flex flex-wrap justify-content-around align-items-center">
            <div class="content-size d-flex align-items-center pb-lg-0 pb-3">
              <span>Size:</span>
              <div class="size">XXL</div>
              <div class="size active">XL</div>
              <div class="size">L</div>
              <div class="size">S</div>
            </div>
            <div class="content-color d-flex align-items-center">
              <span> Color:</span>
              <div class="color c-1"></div>
              <div class="color c-2"></div>
              <div class="color c-3"></div>
              <div class="color c-4"></div>
              <div class="color c-5"></div>
            </div>
          </div>
          <div class="content-details-icon d-flex flex-wrap justify-content-center">
            <a href="#"><i class="fa fa-heart"></i> add to wishlist</a>
            <a href="#"><i class="fa fa-exchange"></i> Add To Compare</a>
          </div>
          <div class="content-details-last">
            <h5><span>Guaranteed Safe Checkout</span></h5>
            <img src="./imgs/shop-details/details-payment.png" alt="" />
            <ul>
              <li><span>SKU:</span> 3812912</li>
              <li><span>Categories:</span> Clothes</li>
              <li><span>Tag:</span> Clothes, Skin, Body</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- end shop-details-text -->
<!--start  shop-details-tabs -->

<div class="shop-details-tabs">
  <div class="container">
    <ul class="tabs d-flex flex-wrap justify-content-center align-items-center border-bottom">
      <li class="active" data-cont=".one">Description</li>
      <li data-cont=".two">Customer Previews(5)</li>
      <li data-cont=".there">Additional information</li>
    </ul>
    <div class="content">
      <div class="one">
        <div class="content-details-tab">
          <p class="note">
            Nam tempus turpis at metus scelerisque placerat nulla deumantos solicitud felis. Pellentesque diam dolor,
            elementum etos lobortis des mollis ut risus. Sedcus faucibus an sullamcorper mattis drostique des commodo
            pharetras loremos.
          </p>
          <ul>
            <li>
              <h6>Products Infomation</h6>
              <p>
                A Pocket PC is a handheld computer, which features many of the same capabilities as a modern PC. These
                handy little devices allow individuals to retrieve and store e-mail messages, create a contact file,
                coordinate appointments, surf the internet, exchange text messages and more. Every product that is
                labeled as a Pocket PC must be accompanied with specific software to operate the unit and must feature a
                touchscreen and touchpad.
              </p>
              <p>
                As is the case with any new technology product, the cost of a Pocket PC was substantial during it’s
                early release. For approximately $700.00, consumers could purchase one of top-of-the-line Pocket PCs in
                2003. These days, customers are finding that prices have become much more reasonable now that the
                newness is wearing off. For approximately $350.00, a new Pocket PC can now be purchased.
              </p>
            </li>
            <li>
              <h6>Material used</h6>
              <p>
                Polyester is deemed lower quality due to its none natural quality’s. Made from synthetic materials, not
                natural like wool. Polyester suits become creased easily and are known for not being breathable.
                Polyester suits tend to have a shine to them compared to wool and cotton suits, this can make the suit
                look cheap. The texture of velvet is luxurious and breathable. Velvet is a great choice for dinner party
                jacket and can be worn all year round.
              </p>
            </li>
          </ul>
        </div>
      </div>
      <div class="two">
        <div class="content-details-tab">
          <ul>
            <li>
              <h6>Products Infomation</h6>
              <p>
                A Pocket PC is a handheld computer, which features many of the same capabilities as a modern PC. These
                handy little devices allow individuals to retrieve and store e-mail messages, create a contact file,
                coordinate appointments, surf the internet, exchange text messages and more. Every product that is
                labeled as a Pocket PC must be accompanied with specific software to operate the unit and must feature a
                touchscreen and touchpad.
              </p>
              <p>
                As is the case with any new technology product, the cost of a Pocket PC was substantial during it’s
                early release. For approximately $700.00, consumers could purchase one of top-of-the-line Pocket PCs in
                2003. These days, customers are finding that prices have become much more reasonable now that the
                newness is wearing off. For approximately $350.00, a new Pocket PC can now be purchased.
              </p>
            </li>
            <li>
              <h6>Material used</h6>
              <p>
                Polyester is deemed lower quality due to its none natural quality’s. Made from synthetic materials, not
                natural like wool. Polyester suits become creased easily and are known for not being breathable.
                Polyester suits tend to have a shine to them compared to wool and cotton suits, this can make the suit
                look cheap. The texture of velvet is luxurious and breathable. Velvet is a great choice for dinner party
                jacket and can be worn all year round.
              </p>
            </li>
          </ul>
        </div>
      </div>
      <div class="there">
        <div class="content-details-tab">
          <p class="note">
            Nam tempus turpis at metus scelerisque placerat nulla deumantos solicitud felis. Pellentesque diam dolor,
            elementum etos lobortis des mollis ut risus. Sedcus faucibus an sullamcorper mattis drostique des commodo
            pharetras loremos.
          </p>
          <ul>
            <li>
              <h6>Products Infomation</h6>
              <p>
                A Pocket PC is a handheld computer, which features many of the same capabilities as a modern PC. These
                handy little devices allow individuals to retrieve and store e-mail messages, create a contact file,
                coordinate appointments, surf the internet, exchange text messages and more. Every product that is
                labeled as a Pocket PC must be accompanied with specific software to operate the unit and must feature a
                touchscreen and touchpad.
              </p>
              <p>
                As is the case with any new technology product, the cost of a Pocket PC was substantial during it’s
                early release. For approximately $700.00, consumers could purchase one of top-of-the-line Pocket PCs in
                2003. These days, customers are finding that prices have become much more reasonable now that the
                newness is wearing off. For approximately $350.00, a new Pocket PC can now be purchased.
              </p>
            </li>
            <li>
              <h6>Material used</h6>
              <p>
                Polyester is deemed lower quality due to its none natural quality’s. Made from synthetic materials, not
                natural like wool. Polyester suits become creased easily and are known for not being breathable.
                Polyester suits tend to have a shine to them compared to wool and cotton suits, this can make the suit
                look cheap. The texture of velvet is luxurious and breathable. Velvet is a great choice for dinner party
                jacket and can be worn all year round.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end shop-details-tabs -->
<!-- end shop details -->
