<!-- start side bar -->
<div class="side-bar">
  <div class="search d-flex align-items-center">
    <input type="search" class="shadow-none form-control border-0" placeholder="search" />
    <i class="fa-fw fa-solid fa-magnifying-glass"></i>
  </div>
</div>
<!-- end side bar -->
