<!-- start side bar -->
<div class="side-bar pe-0 pe-xl-4">
  <div class="search d-flex align-items-center">
    <input type="search" class="shadow-none form-control border-0" placeholder="search" />
    <i class="fa-fw fa-solid fa-magnifying-glass"></i>
  </div>
  <div class="menu mt-5">
    <div class="accordion" id="accordionPanelsStayOpenExample">
      <div class="accordion-item border-0 mb-4">
        <div class="accordion-header">
          <a
            href="#"
            class="w-100 d-flex justify-content-between align-items-center border-0 bg-white"
            data-bs-toggle="collapse"
            data-bs-target="#collapseOne"
            aria-expanded="true"
            aria-controls="panelsStayOpen-collapseOne">
            CATEGORIES <i class="fa-solid fa-angle-down"></i>
          </a>
        </div>
        <div id="collapseOne" class="collapse show">
          <div class="accordion-body ps-0">
            <ul class="p-0">
              <li><a href="">Men (20)</a></li>
              <li><a href="">Women (20)</a></li>
              <li><a href="">Bags (20)</a></li>
              <li><a href="">Clothing (20)</a></li>
              <li><a href="">Shoes (20)</a></li>
              <li><a href="">Accessories (20)</a></li>
              <li><a href="">Kids (20)</a></li>
              <li><a href="">Kids (20)</a></li>
              <li><a href="">Kids (20)</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item border-0 mb-4">
        <div class="accordion-header">
          <a
            href="#"
            class="w-100 d-flex justify-content-between align-items-center border-0 bg-white"
            data-bs-toggle="collapse"
            data-bs-target="#collapsetwo"
            aria-expanded="true"
            aria-controls="panelsStayOpen-collapseOne">
            BRANDING <i class="fa-solid fa-angle-down"></i>
          </a>
        </div>
        <div id="collapsetwo" class="collapse show">
          <div class="accordion-body ps-0">
            <ul class="p-0">
              <li><a href="">Louis Vuitton </a></li>
              <li><a href=""> Chanel </a></li>
              <li><a href=""> Hermes </a></li>
              <li><a href=""> Gucci</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item border-0 mb-4">
        <div class="accordion-header">
          <a
            href="#"
            class="w-100 d-flex justify-content-between align-items-center border-0 bg-white"
            data-bs-toggle="collapse"
            data-bs-target="#collapsethree"
            aria-expanded="true"
            aria-controls="panelsStayOpen-collapseOne">
            FILTER PRICE <i class="fa-solid fa-angle-down"></i>
          </a>
        </div>
        <div id="collapsethree" class="collapse show">
          <div class="accordion-body ps-0">
            <ul class="p-0">
              <li><a href="">$0.00 - $50.00 </a></li>
              <li><a href=""> $50.00 - $100.00 </a></li>
              <li><a href=""> $100.00 - $150.00 </a></li>
              <li><a href=""> $150.00 - $200.00 </a></li>
              <li><a href=""> $200.00 - $250.00 </a></li>
              <li><a href=""> 250.00+</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item border-0 mb-4">
        <div class="accordion-header">
          <a
            href="#"
            class="w-100 d-flex justify-content-between align-items-center border-0 bg-white"
            data-bs-toggle="collapse"
            data-bs-target="#collapsefour"
            aria-expanded="true"
            aria-controls="panelsStayOpen-collapseOne">
            SIZE <i class="fa-solid fa-angle-down"></i>
          </a>
        </div>
        <div id="collapsefour" class="collapse show">
          <div class="accordion-body ps-0">
            <div class="sidebar-size">
              <label for="xs"
                >xs
                <input type="radio" id="xs" />
              </label>
              <label for="sm"
                >s
                <input type="radio" id="sm" />
              </label>
              <label for="md"
                >m
                <input type="radio" id="md" />
              </label>
              <label for="xl"
                >xl
                <input type="radio" id="xl" />
              </label>
              <label for="2xl"
                >2xl
                <input type="radio" id="2xl" />
              </label>
              <label for="xxl"
                >xxl
                <input type="radio" id="xxl" />
              </label>
              <label for="3xl"
                >3xl
                <input type="radio" id="3xl" />
              </label>
              <label for="4xl"
                >4xl
                <input type="radio" id="4xl" />
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item border-0 mb-4">
        <div class="accordion-header">
          <a
            href="#"
            class="w-100 d-flex justify-content-between align-items-center border-0 bg-white"
            data-bs-toggle="collapse"
            data-bs-target="#collapsefive"
            aria-expanded="true"
            aria-controls="panelsStayOpen-collapseOne">
            COLORS <i class="fa-solid fa-angle-down"></i>
          </a>
        </div>
        <div id="collapsefive" class="collapse show">
          <div class="accordion-body ps-0">
            <div class="sidebar-color d-flex flex-wrap">
              <div class="color c-1"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end side bar -->
