<!-- start side bar -->

<div class="side-bar pe-0 pe-xl-4">
  <div class="search d-flex align-items-center">
    <input type="search" class="shadow-none form-control border-0" placeholder="search" />
    <i class="fa-fw fa-solid fa-magnifying-glass"></i>
  </div>
  <div class="menu mt-5">
    <div class="accordion" id="accordionPanelsStayOpenExample">
      <div class="accordion-item border-0 mb-4">
        <div class="accordion-header">
          <a
            href="#"
            class="w-100 d-flex justify-content-between align-items-center border-0 bg-white"
            data-bs-toggle="collapse"
            data-bs-target="#collapseOne"
            aria-expanded="true"
            aria-controls="panelsStayOpen-collapseOne">
            CATEGORIES <i class="fa-solid fa-angle-down"></i>
          </a>
        </div>
        <div id="collapseOne" class="collapse show">
          <div class="accordion-body pe-0 ps-0">
            <ul class="p-0 categores border-bottom pb-2">
              <li><a href="">Men (20)</a></li>
              <li><a href="">Women (20)</a></li>
              <li><a href="">Bags (20)</a></li>
              <li><a href="">Clothing (20)</a></li>
              <li><a href="">Shoes (20)</a></li>
              <li><a href="">Accessories (20)</a></li>
              <li><a href="">Kids (20)</a></li>
              <li><a href="">Kids (20)</a></li>
              <li><a href="">Kids (20)</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item border-0 mb-4">
        <div class="accordion-header">
          <a
            href="#"
            class="w-100 d-flex justify-content-between align-items-center border-0 bg-white"
            data-bs-toggle="collapse"
            data-bs-target="#collapsetwo"
            aria-expanded="true"
            aria-controls="panelsStayOpen-collapseOne">
            BRANDING <i class="fa-solid fa-angle-down"></i>
          </a>
        </div>
        <div id="collapsetwo" class="collapse show">
          <div class="accordion-body ps-0">
            <ul class="p-0 border-bottom pb-2">
              <li><a href="">Louis Vuitton </a></li>
              <li><a href=""> Chanel </a></li>
              <li><a href=""> Hermes </a></li>
              <li><a href=""> Gucci</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item border-0 mb-4">
        <div class="accordion-header">
          <a
            href="#"
            class="w-100 d-flex justify-content-between align-items-center border-0 bg-white"
            data-bs-toggle="collapse"
            data-bs-target="#collapsethree"
            aria-expanded="true"
            aria-controls="panelsStayOpen-collapseOne">
            FILTER PRICE <i class="fa-solid fa-angle-down"></i>
          </a>
        </div>
        <div id="collapsethree" class="collapse show">
          <div class="accordion-body ps-0">
            <ul class="p-0 border-bottom pb-2">
              <li><a href="">$0.00 - $50.00 </a></li>
              <li><a href=""> $50.00 - $100.00 </a></li>
              <li><a href=""> $100.00 - $150.00 </a></li>
              <li><a href=""> $150.00 - $200.00 </a></li>
              <li><a href=""> $200.00 - $250.00 </a></li>
              <li><a href=""> 250.00+</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item border-0 mb-4">
        <div class="accordion-header">
          <a
            href="#"
            class="w-100 d-flex justify-content-between align-items-center border-0 bg-white"
            data-bs-toggle="collapse"
            data-bs-target="#collapsefour"
            aria-expanded="true"
            aria-controls="panelsStayOpen-collapseOne">
            SIZE <i class="fa-solid fa-angle-down"></i>
          </a>
        </div>
        <div id="collapsefour" class="collapse show">
          <div class="accordion-body ps-0">
            <div class="sidebar-size d-flex flex-wrap border-bottom pe-lg-3 pe-0 pb-2">
              <div class="size">XS</div>
              <div class="size">S</div>
              <div class="size">M</div>
              <div class="size">XL</div>
              <div class="size">2XL</div>
              <div class="size">XXL</div>
              <div class="size">3XL</div>
              <div class="size">4XL</div>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item border-0 mb-4">
        <div class="accordion-header">
          <a
            href="#"
            class="w-100 d-flex justify-content-between align-items-center border-0 bg-white"
            data-bs-toggle="collapse"
            data-bs-target="#collapsefive"
            aria-expanded="true"
            aria-controls="panelsStayOpen-collapseOne">
            COLORS <i class="fa-solid fa-angle-down"></i>
          </a>
        </div>
        <div id="collapsefive" class="collapse show">
          <div class="accordion-body ps-0">
            <div class="sidebar-color d-flex flex-wrap border-bottom pb-2">
              <div class="color c-1"></div>
              <div class="color c-2"></div>
              <div class="color c-3"></div>
              <div class="color c-4"></div>
              <div class="color c-5"></div>
              <div class="color c-6"></div>
              <div class="color c-7"></div>
              <div class="color c-8"></div>
              <div class="color c-9"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item border-0 mb-4">
        <div class="accordion-header">
          <a
            href="#"
            class="w-100 d-flex justify-content-between align-items-center border-0 bg-white"
            data-bs-toggle="collapse"
            data-bs-target="#collapsesix"
            aria-expanded="true"
            aria-controls="panelsStayOpen-collapseOne">
            TAGS <i class="fa-solid fa-angle-down"></i>
          </a>
        </div>
        <div id="collapsesix" class="collapse show">
          <div class="accordion-body ps-0">
            <div class="sidebar-tags d-flex flex-wrap">
              <div class="tags">PRODUCT</div>
              <div class="tags">BAGS</div>
              <div class="tags">SHOES</div>
              <div class="tags">FASHIO</div>
              <div class="tags">CLOTHING</div>
              <div class="tags">HATS</div>
              <div class="tags">ACCESSORIES</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- end side bar -->
