<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HOME</title>
    <link
      rel="stylesheet"
      href="../node_modules/owl.carousel/dist/assets/owl.carousel.min.css"
    />
    <link
      rel="stylesheet"
      href="../node_modules/owl.carousel/dist/assets/owl.theme.default.min.css"
    />
  </head>
  <body>
    <%- include('./components/header.ejs') %> <%-
    include('./components/image-slider.ejs') %> <%-
    include('./components/banner.ejs') %> <%- include('./components/footer.ejs')
    %>
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../node_modules/owl.carousel/dist/owl.carousel.min.js"></script>
    <script>
      const nextIcon = '<i class="fa-solid fa-arrow-left next_arrow"></i>';
      const prevIcon = '<i class="fa-solid fa-arrow-right prev_arrow"></i>';
      $(document).ready(function () {
        $(".owl-carousel").owlCarousel({
          loop: true,
          margin: 0,
          nav: true,
          dots: false,
          navText: [nextIcon, prevIcon],
          responsive: {
            0: {
              items: 1,
            },
          },
        });
      });
    </script>
  </body>
</html>
